# API Keys
TMDB_API_KEY=your_api_key_here

# Database (opcional)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=cinedata
DB_USER=user
DB_PASSWORD=password

# Flask
FLASK_ENV=development
FLASK_DEBUG=True

# ==========================
# Configuración del ETL
# ==========================

# Rutas de datos
RAW_DATA_PATH=data/raw
INTERIM_DATA_PATH=data/interim
PROCESSED_DATA_PATH=data/processed
FINAL_DATA_PATH=data/final

# Archivos IMDb iniciales
TITLE_BASICS_FILE=title.basics.tsv.gz
TITLE_RATINGS_FILE=title.ratings.tsv.gz

# Archivo final
FINAL_DATASET_FILE=movies_dataset.csv

# Parámetros de limpieza
MIN_YEAR=1900
MAX_YEAR=2030
MIN_RUNTIME=1
MAX_RUNTIME=500
MIN_NUM_VOTES=0
